@keyframes loader {
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes loader__dot {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes itemAppear {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes confirmation {
  100% {
    margin-right: 0px;
  }
}
@keyframes turn {
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: Roboto, sans-serif;
}

.logo, h1 {
  font-family: Shrikhand, sans-serif;
}

h1 {
  font-size: 140%;
  font-weight: bold;
}

header {
  height: 60px;
  width: 100%;
}

.header__logo {
  width: 170px;
  margin-left: 27.5%;
  margin-top: 15px;
  object-fit: cover;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .header__logo {
    margin-left: 39%;
  }
}
@media all and (min-width: 992px) {
  .header__logo {
    margin-left: 41%;
  }
}

.header__back__homepage {
  position: absolute;
  font-size: 140%;
  color: black;
  top: 16px;
  left: 20px;
}

.footer {
  height: 220px;
  width: 95%;
  background-color: black;
  color: white;
  padding-left: 5%;
  padding-top: 10px;
}
.footer__icone {
  margin-right: 10px;
}
.footer .logo {
  color: white;
  font-size: 120%;
}
.footer p a {
  color: white;
}

.loader {
  position: fixed;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.1s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  z-index: 999;
}
.loader__dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  animation: loader__dot infinite 0.3s alternate;
}

.dot1 {
  background-color: #9356DC;
}

.dot2 {
  background-color: #FF79DA;
  animation-delay: 0.05s;
}

.dot3 {
  background-color: #99E2D0;
  animation-delay: 0.1s;
}

btn {
  cursor: pointer;
}

.exploration {
  background-color: rgb(246, 246, 246);
}
.exploration__localisation {
  text-align: center;
  background-color: rgb(234, 234, 234);
  padding: 1px 15px 1px 0px;
  font-weight: 600;
}
.exploration__localisation .fa-location-dot {
  margin-right: 15px;
}
.exploration__title {
  margin-right: 50px;
  margin-left: 5%;
  margin-top: 30px;
  text-align: center;
}
.exploration__text {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: grey;
}
.exploration__button {
  background-image: linear-gradient(320deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  font-size: 80%;
  cursor: pointer;
  border-radius: 100px;
  border: 0px solid black;
  width: 50%;
  margin-left: 25%;
  height: 40px;
  margin-bottom: 35px;
  margin-top: 5px;
  box-shadow: 1px 1px 5px lightgrey;
}
.exploration__button:hover {
  box-shadow: 1px 1px 5px grey;
  background-color: #fff;
  opacity: 0.9;
}

.fonctionnement__title {
  margin-left: 5%;
}
.fonctionnement__button {
  margin-bottom: 15px;
  width: 90%;
  height: 60px;
  margin-left: 5%;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgb(246, 246, 246);
  box-shadow: 1px 1px 5px lightgrey;
  text-align: left;
}
.fonctionnement__button__number {
  background-color: #9356DC;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  padding: 1px 5px 1px 5px;
  position: relative;
  right: 15px;
}
.fonctionnement__button__icone {
  margin-left: 5px;
  margin-right: 20px;
}
.fonctionnement__button:hover {
  background-color: rgb(245, 237, 255);
}
.fonctionnement__button:hover .fonctionnement__button__icone {
  color: #9356DC;
}

.restaurant {
  background-color: rgb(246, 246, 246);
  padding-bottom: 20px;
}
.restaurant__title {
  margin-left: 5%;
  margin-bottom: 25px;
  padding-top: 50px;
}
.restaurant__card {
  width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  height: 250px;
  background-color: white;
  margin-bottom: 25px;
  box-shadow: 0px 0px 5px lightgrey;
}
.restaurant__card__image {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant__card__name {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}
.restaurant__card__new {
  font-weight: bold;
  color: #278870;
  font-size: 85%;
  background-color: #99E2D0;
  position: relative;
  padding: 7px 12px 7px 12px;
  left: 175px;
  bottom: 240px;
}
.restaurant__card__localisation {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}
.restaurant__card__unlike {
  font-size: 200%;
  position: relative;
  left: 280px;
  bottom: 40px;
  color: black;
  transition: opacity 250ms;
  opacity: 1;
}
.restaurant__card__unlike:hover {
  opacity: 0;
}
.restaurant__card__like {
  font-size: 200%;
  position: relative;
  left: 244px;
  bottom: 40px;
  transition: opacity 250ms;
  opacity: 0;
}
.restaurant__card__like:hover {
  font-size: 200%;
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}

a:link {
  text-decoration: none;
}

.restaurants__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.background {
  background-color: rgb(246, 246, 246);
}

.menu {
  background-color: rgb(246, 246, 246);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 25px;
  position: relative;
  bottom: 60px;
  cursor: pointer;
}
.menu__heading {
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}
.menu__heading__like {
  font-size: 200%;
  position: relative;
  left: 38px;
  top: 10px;
  transition: opacity 250ms;
  opacity: 0;
}
.menu__heading__like:hover {
  background: linear-gradient(162deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
}
.menu__heading__unlike {
  font-size: 200%;
  position: relative;
  left: 70px;
  top: 10px;
  color: black;
  transition: opacity 250ms;
  opacity: 1;
}
.menu__heading__unlike:hover {
  opacity: 0;
}
.menu__title {
  margin-left: 5%;
  font-size: 100%;
  color: grey;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.menu__subtitle {
  margin-left: 10px;
  color: #99E2D0;
  width: 10%;
}
.menu__command {
  background-image: linear-gradient(320deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  font-size: 80%;
  cursor: pointer;
  border-radius: 100px;
  border: 0px solid black;
  width: 50%;
  margin-left: 25%;
  height: 40px;
  margin-top: 35px;
}
.menu__command:hover {
  box-shadow: 1px 1px 5px grey;
  background-color: #fff;
  opacity: 0.9;
}
.menu__meal {
  background-color: white;
  box-shadow: 0px 1px 5px lightgrey;
  width: 90%;
  height: 65px;
  margin-left: 5%;
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  animation: itemAppear 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  overflow: hidden;
  /* gestion de l'animation check confirmation*/
}
.menu__meal--1 {
  animation-delay: 0s;
}
.menu__meal--2 {
  animation-delay: 0.05s;
}
.menu__meal--3 {
  animation-delay: 0.1s;
}
.menu__meal--4 {
  animation-delay: 0.15s;
}
.menu__meal--5 {
  animation-delay: 0.2s;
}
.menu__meal--6 {
  animation-delay: 0.25s;
}
.menu__meal--7 {
  animation-delay: 0.3s;
}
.menu__meal--8 {
  animation-delay: 0.35s;
}
.menu__meal--9 {
  animation-delay: 0.4s;
}
.menu__meal--10 {
  animation-delay: 0.45s;
}
.menu__meal__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__meal__info__name {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 12px;
  margin-bottom: 8px;
}
.menu__meal__info__description {
  margin-left: 10px;
  margin-top: 0px;
  font-size: 90%;
  margin-bottom: 0px;
  color: grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__meal__price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  width: 10%;
  height: 100%;
  margin-top: 36px;
  margin-right: 15px;
  padding-left: 5px;
}
.menu__meal__confirm {
  background-color: #99E2D0;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 80px;
  padding-top: 22px;
  padding-left: 10px;
  margin-right: -80px;
}
.menu__meal__confirm__icon {
  background-color: white;
  border-radius: 50%;
  width: 24px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-right: 1px;
  margin-left: 20%;
  color: #99E2D0;
}
.menu__meal:hover .menu__meal__confirm {
  animation: confirmation 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.menu__meal:hover .menu__meal__confirm__icon {
  animation: turn 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */
