.footer{
    height : 220px;
    width : 95%;
    background-color: black;
    color : white;
    padding-left: 5%;
    padding-top: 10px;
    &__icone{
        margin-right: 10px;
    }
    & .logo{
        color:white;
        font-size: 120%;
    }
    & p a{
        color:white;
    }
}