header
{
    height : 60px;
    width : 100%;
}

.header__logo{
    width : 170px;
    margin-left: 27.5%;
    margin-top: 15px;
    object-fit: cover;
    @include tablette-only{
        margin-left: 39%;
    }
    @include computer-only{
        margin-left: 41%;
    }
}

.header__back__homepage{
    position: absolute;
    font-size: 140%;
    color : black;
    top : 16px;
    left: 20px;
}

