header
{
    height : 60px;
    width : 100%;
}

.header__logo{
    width : 45%;
    margin-left: 27.5%;
    margin-top: 15px;
    object-fit: cover;
}

.header__back__homepage{
    position: absolute;
    font-size: 140%;
    color : black;
    top : 16px;
    left: 20px;
}

