.exploration{
    background-color: rgb(246, 246, 246);
    &__localisation{
        .fa-location-dot{
            margin-right: 15px;
        }
        text-align: center;
        background-color: rgb(234, 234, 234);
        padding : 1px 15px 1px 0px;
        font-weight: 600;
    }
    &__title{
        margin-right : 50px;
        margin-left : 5%;
        margin-top: 30px;
        text-align: center;
    }
    &__text{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        color: grey;
    }
    &__button{
        background-image : linear-gradient(320deg,$colour_primary,$colour_secondary);
        color : white;
        font-weight: bold;
        font-size : 80%;
        cursor : pointer;
        border-radius: 100px;
        border : 0px solid black;
        width : 50%;
        margin-left: 25%;
        height : 40px;
        margin-bottom: 35px;
        margin-top: 5px;
        box-shadow: 1px 1px 5px lightgrey;
        &:hover{
            box-shadow: 1px 1px 5px grey;
            background-color: #fff;
            opacity: 0.90;
        }
        @include tablette-only{
            width : 35%;
            margin-left: 32.5%;
        }
        @include computer-only{
            width : 30%;
            margin-left: 35%;
        }
    }
}

.fonctionnement{
    &__title{
        margin-left: 5%;
    }
    &__button{
        margin-bottom: 15px;
        width : 90%;
        height: 60px;
        margin-left: 5%;
        border-radius: 20px;
        border: 1px solid white;
        background-color: rgb(246, 246, 246);
        box-shadow: 1px 1px 5px lightgrey;
        text-align: left;
        &__number{
            background-color: $colour_primary;
            border-radius: 20px;
            background-color: $colour_primary;
            color : white;
            padding : 1px 5px 1px 5px;
            position : relative ;
            right : 15px;
        }
        &__icone{
            margin-left: 5px;
            margin-right: 20px;
        }
        &:hover{
            background-color: rgb(245, 237, 255);
            & .fonctionnement__button__icone{
                color : $colour_primary;
            }
        }

    }

}

.restaurant{
    background-color: rgb(246, 246, 246);
    padding-bottom: 20px;
    &__title{
        margin-left: 5%;
        margin-bottom: 25px;
        padding-top: 50px;
    }
    &__card{
        width: 90%;
        margin-left: 5%;
        border-radius: 20px;
        height : 250px;
        background-color: white;
        margin-bottom: 25px;
        box-shadow: 0px 0px 5px lightgrey;
        &__image{
            object-fit: cover;
            width : 100%;
            height : 75%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &__name{
            font-weight: bold;
            margin-left: 10px;
            margin-top : 5px;
            margin-bottom: 5px;
            color : black;
            text-decoration : none; 
        }
        &__new{
            font-weight: bold;
            color: darken($colour-tertiary,40%);
            font-size: 85%;
            background-color: $colour-tertiary;
            position : relative;
            padding : 7px 12px 7px 12px;
            left : 175px;
            bottom : 240px;
            @include tablette-only{
                left : 550px;
            }
            @include computer-only{
                left : 700px;
            }
            @include litle-mobile {
                left: 85px;
            }
        }
        &__localisation{
            margin-left: 10px;
            margin-top : 0px;
            margin-bottom: 5px;
            color : black;
            text-decoration : none; 
        }
        &__unlike{
            font-size: 200%;
            position : relative;
            left : 280px;
            bottom: 40px;
            color : black;
            transition : opacity 250ms;
            opacity: 1;
            &:hover{
                opacity: 0;
            }
            @include tablette-only{
                left : 650px;
            }
            @include computer-only{
                left : 800px;
            }
            @include litle-mobile {
                left : 205px;
            }
        }
        &__like{
            font-size: 200%;
            position : relative;
            left : 244px;
            bottom: 40px;
            transition: opacity 250ms;
            opacity: 0;
            &:hover{
                opacity: 1;
                font-size: 200%;
                background: linear-gradient(162deg, $colour_secondary 0%, $colour_primary 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                
            }
            @include tablette-only{
                left : 614px;
            }
            @include computer-only{
                left : 764px;
            }
            @include litle-mobile {
                left : 169px;
            }
        }
    }
}
a:link{
    text-decoration: none;
}




