.exploration{
    background-color: rgb(246, 246, 246);
    &__localisation{
        .fa-location-dot{
            margin-right: 15px;
        }
        text-align: center;
        background-color: rgb(234, 234, 234);
        padding : 1px 15px 1px 0px;
        font-weight: bold;
    }
    &__title{
        margin-right : 50px;
        margin-left : 45px;
        margin-top: 30px;
        text-align: center;
    }
    &__text{
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    &__button{
        background-image : linear-gradient(0deg,$colour_primary,$colour_secondary);
        color : white;
        font-weight: bold;
        font-size : 80%;
        cursor : pointer;
        border-radius: 100px;
        border : 0px solid black;
        width : 50%;
        margin-left: 25%;
        height : 40px;
        margin-bottom: 35px;
        margin-top: 5px;
    }
}

.fonctionnement{
    &__title{
        margin-left: 10px;
    }
    &__button{
        margin-bottom: 15px;
        width : 90%;
        height: 60px;
        margin-left: 5%;
        border-radius: 20px;
        border: 1px solid white;
        background-color: rgb(246, 246, 246);
        box-shadow: 1px 1px 5px grey;
        text-align: left;
        &__number{
            background-color: $colour_primary;
            border-radius: 20px;
            background-color: $colour_primary;
            color : white;
            padding : 1px 5px 1px 5px;
            position : relative ;
            right : 15px;
        }
        &__icone{
            margin-left: 5px;
            margin-right: 20px;
        }
        &:hover{
            background-color: rgb(245, 237, 255);
        }

    }

}

.restaurant{
    background-color: rgb(246, 246, 246);
    &__title{
        margin-left: 10px;
        margin-bottom: 25px;
        padding-top: 50px;
    }
    &__card{
        width: 90%;
        margin-left: 5%;
        border-radius: 20px;
        height : 250px;
        background-color: white;
        margin-bottom: 25px;
        box-shadow: 0px 0px 5px grey;
        &__image{
            object-fit: cover;
            width : 100%;
            height : 75%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        &__name{
            font-weight: bold;
            margin-left: 10px;
            margin-top : 5px;
            margin-bottom: 5px;
            color : black;
            text-decoration : none; 
        }
        &__localisation{
            margin-left: 10px;
            margin-top : 0px;
            margin-bottom: 5px;
            color : black;
            text-decoration : none; 
        }
        &__unlike{
            font-size: 200%;
            position : relative;
            left : 280px;
            bottom: 40px;
            color : black;
            &:hover{
                display:none;
            }
        }
    }
}





